@import "../variables";
@import "../functions";
@import "../animations";
@import "../mixins";



#page {
	width:960px;
	margin:auto;
}
.bouncers {
	@include bouncers($duration: 2s); 
}

.clock {
	@include clock();
}  