@-webkit-keyframes bouncers {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1); }

  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); } }
@keyframes bouncers {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1); }

  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); } }
@-webkit-keyframes clock {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes clock {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
#page {
  width: 960px;
  margin: auto; }

.bouncers {
  width: 70px;
  height: 50px;
  position: relative; }
  .bouncers:before, .bouncers:after {
    position: absolute;
    content: " ";
    z-index: 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    -webkit-animation-name: bouncers;
            animation-name: bouncers;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  .bouncers:before {
    left: 10px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  .bouncers:after {
    right: 0;
    -webkit-animation-delay: 2s;
            animation-delay: 2s; }

.clock {
  width: 25px;
  height: 25px;
  border: 2px solid #010101;
  background: #dedede;
  border-radius: 100%;
  position: relative; }
  .clock:before, .clock:after {
    position: absolute;
    content: "";
    width: 3px;
    background: #000;
    border-radius: 8px;
    -webkit-animation-name: clock;
            animation-name: clock;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }
  .clock:before {
    height: 9px;
    top: 3px;
    left: 10px;
    -webkit-transform-origin: 1px 9px;
        -ms-transform-origin: 1px 9px;
            transform-origin: 1px 9px; }
  .clock:after {
    height: 10px;
    top: 4px;
    left: 10px;
    -webkit-transform-origin: 1px 8px;
        -ms-transform-origin: 1px 8px;
            transform-origin: 1px 8px;
    -webkit-animation-duration: 24s;
            animation-duration: 24s; }
