%base {
	position: absolute;
	content : " ";
}

// ======================
// Bouncers 
// =====================	

@mixin bouncers(
		$width: map-get($bouncers, width), 
		$height: map-get($bouncers, height), 
		$sprite-width: map-get($bouncers, sprite-width),
		$sprite-height: map-get($bouncers, sprite-height),
		$background: map-get($bouncers, background),
		$name : map-get($bouncers, animation-name),
		$duration: map-get($bouncers, animation-duration),
		$iteration-count: map-get($bouncers, animation-iteration-count),
		$timing-function: map-get($bouncers, animation-timing-function)  
	) {
	width:($sprite-width * 2) + 10;
	height:$height;
	position:relative;    
	&:before,
	&:after {
		position:absolute;
		content : " ";
		z-index: 1;
		width:$sprite-width;
		height:$sprite-height;
		border-radius:50%;
		background:$background; 
		animation-name: $name;
		animation-duration: $duration;
		animation-iteration-count: $iteration-count;
		animation-timing-function: $timing-function;
	}
	&:before {    
		left:10px;
		animation-delay: ($duration / 2);
	}
	&:after {
		right:0;
		animation-delay:$duration;
	}
}


@mixin clock(
	$width: map-get($clock, width), 
	$height: map-get($clock, height), 
	$borderColor: map-get($clock, borderColor),
	$background: map-get($clock, background),
	$name : map-get($clock, animation-name),
	$duration: map-get($clock, animation-duration),
	$iteration-count: map-get($clock, animation-iteration-count),
	$timing-function: map-get($clock, animation-timing-function)  
	) 
{
	width: $width;
	height: $height;
	border:2px solid $borderColor;
	background:$background;
	border-radius:100%;
	position:relative;
	&:before,
	&:after {
		position: absolute;
		content : "";
		width:3px;
		background:#000;
		border-radius:8px;
		animation-name: $name;
		animation-duration: $duration;
		animation-iteration-count: $iteration-count;
		animation-timing-function: $timing-function;
	}
	
	&:before {	
		height:floor($height / 2) - 3;	
		top: 3px;
		left: floor($height / 2) - 2;
        transform-origin:  1px floor($height / 2) - 3;
	}	
	
 	&:after {
		height:floor($height / 2) - 2;
		top:4px;
		left: floor($height / 2) - 2;	
        transform-origin: 1px floor($height / 2) - 4;
        animation-duration: $duration * 12;
  }
}