// ======================
// Bouncers 
// Default values
// =====================	

$bouncers : (
	width : 200px,
	height: 50px,
	sprite-width: 30px,
	sprite-height: 30px,
	background: #000,	
	
	animation-name : bouncers,
	animation-duration: 1s,
	animation-iteration-count: infinite,
	animation-timing-function: ease-out
	
);

// ======================
// Clock 
// Default values
// =====================	

$clock : (
	width: 25px,
	height: 25px,
	background: #dedede,
	borderColor:#010101,	
	
	animation-name : clock,
	animation-duration: 2s,
	animation-iteration-count: infinite,
	animation-timing-function: linear
	
);
